# Default values for mcad-controller.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  repository: quay.io/tardieu/mcad
  tag: latest
  pullPolicy: Always

serviceAccount: mcad-controller

clusterRole: system:controller:xqueuejob-controller

resources:
  limits:
    cpu: 2000m
    memory: 4096Mi
  requests:
    cpu: 100m
    memory: 512Mi
