# Actions to take when a release is tagged

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: MCAD-release

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.repository == 'project-codeflare/mcad'
    steps:
    - name: checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: validate tag format
      run: |
        if [[ ${GITHUB_REF_NAME} =~ ^v[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+$ ]]; then
          echo "Tag format is valid."
        else
          echo "Invalid tag format: ${GITHUB_REF_NAME}"
          exit 1
        fi

    - name: docker login
      uses: docker/login-action@v2
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_ROBOT_TOKEN }}

    - name: Build and Push Images
      run: |
        make docker-buildx -e TAG=${GITHUB_REF_NAME} -e quay_repository=quay.io/ibm
